.addr{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    main{
        width: 80%;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 0 10px #dedede;
        box-sizing: border-box;
    }
    .null{
        width: 80%;
        height: auto;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 0 10px #dedede;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 500px;
            height: auto;
        }
    }
}